.vjs-mxrse .vjs-loading-spinner {
    opacity: 1;
    border: 6px solid rgba(var(--primary-background-colour), var(--primary-background-transparency));
}

.vjs-mxrse.vjs-seeking .vjs-loading-spinner:before,
.vjs-mxrse.vjs-seeking .vjs-loading-spinner:after,
.vjs-mxrse.vjs-waiting .vjs-loading-spinner:before,
.vjs-mxrse.vjs-waiting .vjs-loading-spinner:after {
    -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-mxrse-spinner-fade 1.1s linear infinite;
    animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-mxrse-spinner-fade 1.1s linear infinite;
}

.vjs-mxrse.vjs-seeking .vjs-loading-spinner:before,
.vjs-mxrse.vjs-waiting .vjs-loading-spinner:before {
    border-top-color: white;
}

.vjs-mxrse.vjs-seeking .vjs-loading-spinner:after,
.vjs-mxrse.vjs-waiting .vjs-loading-spinner:after {
    border-top-color: white;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@keyframes vjs-mxrse-spinner-fade {
    0% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
    20% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
    35% {
        border-top-color: white;
    }
    60% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
    100% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
}
  
@-webkit-keyframes vjs-mxrse-spinner-fade {
    0% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
    20% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
    35% {
        border-top-color: white;
    }
    60% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
    100% {
        border-top-color: rgb(var(--secondary-background-colour));
    }
}