.vjs-mxrse .vjs-volume-level {
    background-color: rgba(var(--secondary-background-colour), var(--secondary-background-transparency));
}

.vjs-mxrse .vjs-volume-level:before {
    font-size: 1em; 
}

.vjs-slider-horizontal .vjs-volume-level {
    height: 0.3em; 
}

.vjs-slider-horizontal .vjs-volume-level:before {
    top: -0.35em;
}